<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>{{text}}</h2>
    <img src="https://i.pinimg.com/736x/71/1c/e3/711ce3a57f1e4966179bfeb22acb561c.jpg" />
    <img src="http://localhost:5000/static/images/bg.jpg" />
</body>
</html>