<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Hello {{name}},</h1>
    <p>I'm very glad to see you here, we ensure that you have been notified by our lastest events by this email {{email}}</p>
</body>
</html>